.home-main {
    // padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - em(70px));
    width: 100%;
    color: rgb(39, 39, 39);
    // background-color: #E1E9F2;
    background-image: url('./../../imgs/backgr.png');
    background-size: cover;
    // color: #2F3D7E;


    .left-container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: center;
        gap: em(50px);
        // background-color: aliceblue;

        .header {
            display: flex;
            flex-direction: column;
            // justify-content: center;
            // align-items: flex-start;
            gap: em(20px);

            h1 {
                font-size: rem(60px);

                span {
                    color: #F0AEC8;
                    margin-left: 10px;
                }
            }

            h2 {
                font-size: rem(40px);

            }

            h5 {
                font-size: rem(20px);
                max-width: rem(700px);
                line-height: 28px;

            }
        }

        .social-links {
            display: flex;
            gap: em(8px);
            // align-items: flex-start;
            // justify-content: flex-start;

            .fa {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: rem(15px);
                width: rem(40px);
                height: rem(40px);
                transition: .5s;
                border-radius: 50%;
                // border: 2px solid #F0AEC8;
                // background-color: rgb(165, 165, 216);

                &:hover {
                    color: white;
                    background-color: #F0AEC8;

                }
            }
        }
    }

}