.home-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - em(70px));
    width: 100%;
    color: rgb(39, 39, 39);
    background-image: url('./../../imgs/backgr.png');
    background-size: cover;



    .left-container {
        display: flex;
        flex-direction: column;
        gap: em(50px);
        padding: 0 20px;


        .header {
            display: flex;
            flex-direction: column;
            gap: em(20px);

            h1 {
                font-size: rem(60px);

                span {
                    color: #F0AEC8;
                    margin-left: 10px;
                }
            }

            h2 {
                font-size: rem(40px);

            }

            h5 {
                font-size: rem(20px);
                max-width: rem(700px);
                line-height: 28px;

            }
        }

        .social-links {
            display: flex;
            gap: em(8px);
            width: fit-content;

            .fa {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: rem(15px);
                width: rem(40px);
                height: rem(40px);
                transition: .5s;
                border-radius: 50%;

                &:hover {
                    color: white;
                    background-color: #F0AEC8;

                }
            }
        }
    }

}


/////////// MQ ///////////

@media screen and (max-width: 650px) {
    .home-main {
        .header {

            h1 {
                font-size: 3.3rem !important;
            }

            h5 {
                font-size: 1rem !important;
            }
        }

        .left-container {
            width: 100%;

        }
    }

}