@font-face {
    font-family: Clinton-semibold;
    src: url('../../fonts/Clinton/Clinton\ semibold.ttf')
}

@font-face {
    font-family: Clinton-Bold;
    src: url('../../fonts/Clinton/ClintonBold.ttf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../../fonts/static/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../fonts/static/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../fonts/static/Montserrat-Bold.ttf');
}
@font-face {
    font-family: JosefinSans-Regular;
    src: url('../../fonts/static/JosefinSans-Regular.ttf');
}
